body {
  margin: 0;
  font-family: sans-serif;
  background: #222;
  color: #ddd;
  text-align: center;
}

.App {
  width: 960px;
  margin: 0 auto;
}

button {
  margin: 0 10px;
  background: transparent;
  border: 3px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  color: #ccc;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  color: #fff;
  border-color: #fff;
}

.content {
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 500px;
  height: 50px;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(15, 15, 15);
}

.card > p {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.card > h3 {
  font-size: 14px;
  margin-bottom: 7px;
  margin-top: 0;
}
